<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale =1.0">
        <title> Gamify </title>
        <link rel="stylesheet" href="{{ url_for ('static',filename ='style1.css') }}">
    </head>
    <body>
        <form method='GET' action="output" class="form" >
        <!-- <h1>Otaku</h1> -->
        <input type="text" name="" class="box" placeholder="What's your name?">
        <input type="text" name="" class="box" placeholder="What's your Age?">
        <input type="text" name="gname" class="box" placeholder="Played any game before ?" required> 
        <input type="text" name="" class="box" placeholder="Gender">
        <input type="submit" value="Get Games" id="submit">  
        </form>
    </body>
    </html>

